.git/
.idea/
__pycache__/
*.py[cod]
.pytest_cache/
.venv/

client_side/node_modules/
client_side/.next/
client_side/out/

api/resources/data_repository/
api/resources/json_dumps/

demonstration_video/
