# Ignore editor and IDE specific files
.idea/
.vscode/

# Ignore build artifacts and output folders
build/
dist/

# Ignore log files and temporary files
logs/
*.log
*.log


# Ignore Demo files and videos
demonstration_video/
*.mp4

# Ignore git files
.git/
.git/

# Ignore github files
.github/